.TodoBox {
    display: block;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    background: #f4f4f4;
}
.InputCheckbox {
    display: inline;
    margin-left: -5.5%;
}
.TaskName {
    display: inline;
    padding: 10px;
}

